<main class="container">
  <section class="not-found">
    <h1 class="not-found__title">
      {{t '404.title'}}
    </h1>

    <a href="{{t '404.goHome.url'}}" class="not-found__button">{{t '404.goHome.text'}}</a>
  </section>
</main>